<h1>SIGN IN (if you dare)</h1>

<form action="<%= sessions_url %>" method="post">

  <%= authenticity_token %>
  <br>

  <label for="user_email">Email</label>
  <input
    id="user_email"
    name="user[email]"
    value="text">
  <br>

<label for="user_password">Password</label>
  <input
    id="user_password"
    name="user[password]"
    type="password">
  </br>

  <input type="submit" value="Login, Champ!">

</form>